## DATA PREPROCESSING


# 1. Overview of preprocessing and data exploration

- Handling missing data

- Noise handling

In [1]:
#import library
import requests
import numpy as np
import pandas as pd

# Read the original obtained data file:

In [2]:
#Read data
data_origin = pd.read_csv("movie.csv")
print(data_origin)

                                           Poster_Link  \
0    https://m.media-amazon.com/images/M/MV5BM2MyNj...
1    https://m.media-amazon.com/images/M/MV5BMTMxNT...
2    https://m.media-amazon.com/images/M/MV5BNzA5ZD...
3    https://m.media-amazon.com/images/M/MV5BNGNhMD...
4    https://m.media-amazon.com/images/M/MV5BNDE4OT...
..                                                 ...
191  https://m.media-amazon.com/images/M/MV5BMzFkM2...
192  https://m.media-amazon.com/images/M/MV5BN2JlZT...
193  https://m.media-amazon.com/images/M/MV5BMjM1Nj...
194  https://m.media-amazon.com/images/M/MV5BMjAwMT...
195  https://m.media-amazon.com/images/M/MV5BMjAwMT...

                                             Title Certificate  Runtime (min)  \
0                                    The Godfather           A            175
1                                  The Dark Knight          UA            152
2    The Lord of the Rings: The Return of the King           U            201
3                                     Pulp Fiction           A            154
4                                 Schindler's List           A            195
..                                             ...         ...            ...
191                                     Home Alone           U            103
192                             The Little Mermaid           U             83
193             Close Encounters of the Third Kind           U            138
194                                The Jungle Book           U             78
195                                The Jungle Book           U             78

                            Genre  \
0                    Crime, Drama
1            Action, Crime, Drama
2        Action, Adventure, Drama
3                    Crime, Drama
4       Biography, Drama, History
..                            ...
191                Comedy, Family
192    Animation, Family, Fantasy
193                 Drama, Sci-Fi
194  Animation, Adventure, Family
195  Animation, Adventure, Family

                                              Overview  Meta_score  \
0    An organized crime dynasty's aging patriarch t...       100.0
1    When the menace known as the Joker wreaks havo...        84.0
2    Gandalf and Aragorn lead the World of Men agai...        94.0
3    The lives of two mob hitmen, a boxer, a gangst...        94.0
4    In German-occupied Poland during World War II,...        94.0
..                                                 ...         ...
191  An eight-year-old troublemaker must protect hi...        63.0
192  A mermaid princess makes a Faustian bargain in...        88.0
193  Roy Neary, an electric lineman, watches how hi...        90.0
194  Bagheera the Panther and Baloo the Bear have a...        65.0
195  Bagheera the Panther and Baloo the Bear have a...        65.0

                 Director  No_of_Votes        Gross  Year  imdbRating  \
0    Francis Ford Coppola      1620367  134,966,411  1972         9.2
1       Christopher Nolan      2303232  534,858,444  2008         9.0
2           Peter Jackson      1642758  377,845,905  2003         9.0
3       Quentin Tarantino      1826188  107,928,762  1994         8.9
4        Steven Spielberg      1213505   96,898,818  1993         9.0
..                    ...          ...          ...   ...         ...
191        Chris Columbus       488817  285,761,243  1990         7.7
192          Ron Clements       237696  111,543,479  1989         7.6
193      Steven Spielberg       184966  132,088,635  1977         7.6
194   Wolfgang Reitherman       166409  141,843,612  2016         7.4
195   Wolfgang Reitherman       166409  141,843,612  2016         7.4

     imdbRatingVotes  rottenRating  metacriticRating  \
0            1868934            97               100
1            2667813            94                84
2            1855485            93                94
3            2067298            92                94
4            1362192            98                94
..               ...           ...               ...
191           595952            66                63
192           267512            92                88
193           204977            94                90
194           280192            94                77
195           280192            94                77

                                                Actors
0    Marlon Brando, Al Pacino, James Caan, Diane Ke...
1    Christian Bale, Heath Ledger, Aaron Eckhart, M...
2    Elijah Wood, Viggo Mortensen, Ian McKellen, Or...
3    John Travolta, Uma Thurman, Samuel L. Jackson,...
4    Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...
..                                                 ...
191  Macaulay Culkin, Joe Pesci, Daniel Stern, John...
192  John Musker, Jodi Benson, Samuel E. Wright, Re...
193  Richard Dreyfuss, FranÃ§ois Truffaut, Teri Garr...
194  Phil Harris, Sebastian Cabot, Louis Prima, Bru...
195  Phil Harris, Sebastian Cabot, Louis Prima, Bru...

[196 rows x 16 columns]

Obtain 196 rows and 16 columns

## Does the raw data have duplicate rows?

In [3]:
# Check if data have duplicate rows
num_duplicated_rows = data_origin.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Your raw data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Your raw data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Your raw data have 5 duplicated lines. Please de-deduplicate your raw data.!

In [4]:
#Drop duplicate
data_origin.drop_duplicates(inplace=True)

# Check if data have duplicate rows
num_duplicated_rows = data_origin.duplicated().sum()
if num_duplicated_rows == 0:
    print(f"Your raw data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Your raw data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Your raw data have no duplicated line.!

After checking, there are 5 duplicate columns.

## What data type does each column currently have? Are there any columns whose data types are not suitable for further processing?

In [7]:
#Type of each column
dtypes = data_origin.dtypes

print(dtypes)

Poster_Link          object
Title                object
Certificate          object
Runtime (min)         int64
Genre                object
Overview             object
Meta_score          float64
Director             object
No_of_Votes           int64
Gross                object
Year                  int64
imdbRating          float64
imdbRatingVotes       int64
rottenRating          int64
metacriticRating      int64
Actors               object
dtype: object

# Check the percentage of missing data in the columns

In [8]:
#Percentage of missing data
missing_percentage = data_origin.isnull().mean() * 100
print("Missing ratio")
print(missing_percentage)

Missing ratio
Poster_Link         0.00000
Title               0.00000
Certificate         0.00000
Runtime (min)       0.00000
Genre               0.00000
Overview            0.00000
Meta_score          0.00000
Director            0.00000
No_of_Votes         0.00000
Gross               1.04712
Year                0.00000
imdbRating          0.00000
imdbRatingVotes     0.00000
rottenRating        0.00000
metacriticRating    0.00000
Actors              0.00000
dtype: float64

In [10]:
#Cho cÃ¡c cá»t cÃ³ missing data thÃ nh unknown
data_origin.fillna("unknown", inplace=True)
#check again
#Percentage of missing data
missing_percentage = data_origin.isnull().mean() * 100
print("Missing ratio")
print(missing_percentage)

Missing ratio
Poster_Link         0.0
Title               0.0
Certificate         0.0
Runtime (min)       0.0
Genre               0.0
Overview            0.0
Meta_score          0.0
Director            0.0
No_of_Votes         0.0
Gross               0.0
Year                0.0
imdbRating          0.0
imdbRatingVotes     0.0
rottenRating        0.0
metacriticRating    0.0
Actors              0.0
dtype: float64

### After determining the percentage of missing data in the columns, we will now divide them into two categories: numeric data type and non-numeric data type for processing.

# For each column with numeric data type, how are the values distributed?

For columns with numeric data types, we will calculate:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile
- The median
- The upper quartile
- The max

Column with numeric data: Price and Rating

# Save data to proccesed file

In [12]:
data_origin.to_csv('data_processed.csv',index=False, encoding='utf-8-sig')